h1 {
  text-align: center;
}

.homePage {
  background-color: beige;
  position: relative;
  height: 100vh;
}

.homePageText {
  font-size: 20pt;
}

.buttonToLoginPageContainer {
  display: flex;
  justify-content: center;
}
